/* Adrian */
    html, body {
        padding: 0;
        margin: 0;
        background-image: url(Blau.png);
    }

    html{
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    }

    header{
        background-color: blue;
        color: white;
        padding: 0.1em;
        
    }
/* Anika */

/* Maddin */

    main{
        margin: 10px;
    }

    .tabelleUebersicht thead,
    .tabelleUebersicht tbody {
        display:inline-block;
    }
    
    .tabelleUebersicht tbody {
        width: 1195px;
        overflow-x: scroll;
    }

    .tabelleUebersicht{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 1195px;
        border-radius:  5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .top{
        background-color: blue;
        color: white;
        text-align: left;
        font-weight: bold;
    }

    .tabelleUebersicht th,
    .tabelleUebersicht td{
        padding: 12px 15px;
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }

    .tabelleUebersicht tr{
        border-bottom: 1px solid #dddddd;
    }

    .tabelleUebersicht tbody tr:nth-of-type(even),
    .tabelleUebersicht thead tr:nth-of-type(even){
        background-color: #f3f3f3;
    }

    .tabelleUebersicht tbody tr:nth-of-type(odd),
    .tabelleUebersicht thead tr:nth-of-type(odd){
        background-color: lightgray;
    }

    .tabelleUebersicht tbody tr:last-of-type,
    .tabelleUebersicht thead tr:last-of-type{
        border-bottom: 2px solid blue;
    }

    input[type="text"]{
        width: 15%;
        border: 1px solid #aaa;
        border-radius: 5px;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
        margin-right: 10px;
    }

    input[type="text"]:focus{
        border-color: dodgerblue;
        box-shadow: 0 0 8px dodgerblue;
    }

    .radio-group{
        display: inline-block;
        margin-right: 10px; 
    }

    .radio-group input[type="radio"]{
        display: none;
    }

    .radio-group label{
        border: 1px solid #333;
        color: white;
        background-color: blue;
        border: 1px solid #aaa;
        border-radius: 5px;
        outline: none;
        padding: 7px;
        box-sizing: border-box;
        transition: .3s;
    }

    .radio-group label:hover{
        border-color: dodgerblue;
        box-shadow: 0 0 8px dodgerblue;
    }

    .radio-group input:checked + label{
        background: darkblue;
        color: white;
        box-shadow: none;
    }

    .buttonSuchen{
        width: 10%;
        border: 1px solid #aaa;
        border-radius: 5px;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
        background: blue;
        color: white;
    }

    .buttonSuchen:hover{
        border-color: dodgerblue;
        box-shadow: 0 0 8px dodgerblue;
    }

    .buttonSuchen:active{
        background-color: darkblue;
    }
    

