/* Adrian */
    html, body {
        padding: 0;
        margin: 0;
    }

    html{
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    }

    header{
        background-color: blue;
        color: white;
        padding: 0.1em;
        
    }
/* Anika */

/* Maddin */

    .tabelleUebersicht thead,
    .tabelleUebersicht tbody {
        display:inline-block;
    }
    
    .tabelleUebersicht tbody {
        width: 1150px;
        overflow-x: scroll;
    }

    .tabelleUebersicht{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 1150px;
        border-radius:  5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .top{
        background-color: blue;
        color: white;
        text-align: left;
        font-weight: bold;
    }

    .tabelleUebersicht th,
    .tabelleUebersicht td{
        padding: 12px 15px;
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }

    .tabelleUebersicht tr{
        border-bottom: 1px solid #dddddd;
    }

    .tabelleUebersicht tbody tr:nth-of-type(even),
    .tabelleUebersicht thead tr:nth-of-type(even){
        background-color: #f3f3f3;
    }

    .tabelleUebersicht tbody tr:last-of-type,
    .tabelleUebersicht thead tr:last-of-type{
        border-bottom: 2px solid blue;