/*Handy*/
/*Hilfsklassen*/
/*sichtbar machen*/
.visible{
    visibility: visible;
}
/*unsichtbar machen*/
.hidden{
    display: none;
}

/*Header-Bereich*/
#app header{
    color: white;
    padding: 0;
    padding-bottom: 7vw;
}
/*Überschrift*/
#app header span{
    font-size: 2em;
    float:left;
    padding-left: 1vw;
    padding-top: 0.2em;
    vertical-align: middle;
    /*setzt Hintergrund als Fontcolor mit Übergang*/
    background-image:linear-gradient(90deg,#f64c72, #fcb956);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Navigationsleiste*/
#app #nav{
    font-size: 1.2em;
    background-color: #5662c9;
    border-radius: 0.5vw;
    position: fixed;
    padding: 0.5vw;
    right: 1vw;
    z-index: 1;
    width: 33vw;
}
/*Verändert die Schrift vom Navigationssystem, abhängig von der aktuellen Seite*/
#app .bold{
    font-weight: 900;
    color: #f64c72;
}

/*Main-Bereich*/
#app main{
    padding-top: 3vw;
    margin: 1vw;
}
/*Anker*/
#app a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    text-decoration: none;
    cursor: pointer;
}
/*Standard für Buttons festlegen*/
#app button{
    background-image: url("../images/button_hintergrund.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    width: auto;
    vertical-align: middle;
    cursor: pointer;
    color: black;
    font-weight: normal;
    border: none;
    box-shadow: 0 0 0.5em dodgerblue;
    border-radius: 0.25em;
}
/*Standard für Inputs festlegen */
#app input[type="checkbox"]+label{
    color: white;
    border: 2px solid white;
    border-radius: 0.25em;
    background: #474eba;
    cursor: pointer;
    box-shadow: none;
}
/*Wenn die Checkbox checked ist, dann soll sich das Feld Weiß gefärbt werden*/
#app input[type="checkbox"]:checked + label{
    color: #f64c72;
    border-color: #f63c72;
}
/*Input als Checkbox mit label auf einer Ebene*/
#app input[type="checkbox"]:hover+label:hover{
    box-shadow: 0 0 8px dodgerblue;
}

/*Tablets*/
@media(min-width:700px){
    /*Header-Bereich*/
    #app header{
        display: inline;
        padding-bottom: 0;
    }
    /*Navigationsleiste*/
    #app #nav{
        right: 3vw;
        width: auto;
        margin-top: 1vw;
    }
    
    /*Standard für Buttons festlegen*/
    #app button{
        padding-left: 1em;
        padding-right: 1em;
    }
}

/*Laptop*/
@media(min-width:1200px){
    /*Navigationsleiste*/
    #app #nav{
        right: 10vw;
        margin: 0;
    }
}
