/*Handy*/
/*Hilfsklassen*/
/*sichtbar machen*/
.visible{
    visibility: visible;
}
/*unsichtbar machen*/
.hidden{
    display: none;
}

/*Header-Bereich*/
#app header{
    color: white;
    padding: 0;
    padding-bottom: 7vw;
    position: fixed;
}
/*Überschrift*/
#app header span{
    font-size: 2em;
    float:left;
    padding-left: 1vw;
    padding-top: 0.2em;
    vertical-align: middle;
    /*setzt Hintergrund als Fontcolor mit Übergang*/
    /*background-image:linear-gradient(90deg,#f64c72, #ffab84);*/
    background-image:linear-gradient(90deg,rgb(45, 59,162), rgb(134, 160, 242));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: 1px;
}
/*Navigationsleiste*/
#app #nav{
    font-size: 1.2em;
    background-color: #6078bf;
    border-radius: 0.5vw;
    position: fixed;
    padding: 0.5vw;
    right: 1vw;
    z-index: 1;
    width: 33vw;
}
/*Verändert die Schrift vom Navigationssystem, abhängig von der aktuellen Seite*/
#app .bold{
    font-weight: 900;
    color: rgb(45, 59,162);
}

/*Main-Bereich*/
#app main{
    padding-top: 3vw;
    margin: 1vw;
}
/*Anker*/
#app a{
    text-decoration: none;
    color: white;
    margin: 0.3em;
    text-decoration: none;
    cursor: pointer;
}
/*Standard für Buttons festlegen*/
#app button{
    background-color: #6078bf;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #6078bf;
    width: auto;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    font-weight: normal;
    border: none;
    border-radius: 0.25em;
    margin-left: 2vw;
}

#app button:hover{
    box-shadow: 0 0 0.5em #6078bf;
}

#app button:active{
    background: rgb(45, 59,162);
}

/*Standard für Radio-Buttons festlegen */
.radio-group{
    display: inline-block;
    margin: 1vw; 
    vertical-align: middle;
}
.radio-group label{
    padding: 1vw;
}
#app input[type="radio"]+label{
    color: grey;
    border: 1px solid #6078bf;
    border-radius: 0.25em;
    background: white;
    cursor: pointer;
    box-shadow: none;
}
/*Unsichtbar machen des Radio-Buttons selber, sodass nur das Label zu sehen ist*/
.radio-group input[type="radio"]{
    display: none;
}
/*Wenn der Radio-Button checked ist, dann soll sich das Feldverfärben*/
#app input[type="radio"]:checked + label{
    color: white;
    background: #6078bf;
}
/*Input als Radio-Button mit label auf einer Ebene*/
#app input[type="radio"]:hover+label:hover{
    box-shadow: 0 0 8px #6078bf;
}

/*Standard für Checkboxen festlegen */
.checkbox-group{
    display: inline-block;
    margin: 0vw; 
    vertical-align: middle;
}
.checkbox-group label{
    padding: 1vw;
}
#app input[type="checkbox"]+label{
    color: grey;
    border: 1px solid #6078bf;
    border-radius: 0.25em;
    background: white;
    cursor: pointer;
    box-shadow: none;
}
/*Unsichtbar machen der Checkbox selber, sodass nur das Label zu sehen ist*/
.checkbox-group input[type="checkbox"]{
    display: none;
}
/*Wenn die Checkbox checked ist, dann soll sich das Feld Weiß gefärbt werden*/
#app input[type="checkbox"]:checked + label{
    color: white;
    background: #6078bf;
}
/*Input als Checkbox mit label auf einer Ebene*/
#app input[type="checkbox"]:hover+label:hover{
    box-shadow: 0 0 8px #6078bf;
}


/*Tablets*/
@media(min-width:700px){
    /*Header-Bereich*/
    #app header{
        display: inline;
        padding-bottom: 0;
    }
    /*Navigationsleiste*/
    #app #nav{
        right: 3vw;
        width: auto;
        margin-top: 1vw;
    }
    
    /*Standard für Buttons festlegen*/
    #app button{
        padding: 5px;
        box-sizing: border-box;
        float: none;
        font-size: 20px;
    }

    .checkbox-group label{
        padding: 5px;
    }

    .radio-group label{
        padding: 5px;
    }
}

/*Laptop*/
@media(min-width:1200px){
    /*Navigationsleiste*/
    #app #nav{
        right: 10vw;
        margin: 0;
    }
    
    /*Standard für Buttons festlegen*/
    #app button{
        padding: 8px;
    }

    .checkbox-group label{
        padding: 8px;
    }

    .radio-group label{
        padding: 8px;
    }
}
