/*Handy*/
#app header{
    color: white;
    padding: 0;
}

#app main{
    padding-top: 3vw;
    margin: 1vw;
}

#app nav{
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.2em;
    text-align: end;
    padding-right: 5vw;
    vertical-align: middle;
}
#app #nav{
    background-color: #5662c9;
    border-radius: 0.5vw;
    position: fixed;
    padding: 0.5vw;
    right: 15vw;
    z-index: 1;
}

#app header span{
    font-size: 2em;
    float:left;
    padding-left: 1vw;
    padding-top: 0.2em;
    vertical-align: middle;
    /*setzt Hintergrund als Fontcolor mit Übergang*/
    background-image:linear-gradient(90deg,#f64c72, #fcb956);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#app a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    text-decoration: none;
    cursor: pointer;
}

#app .piktogramm{
    height: 0.8em;
}

#app .klapptabelle_button{
    background-color: white;
    color: black;
    width: auto !important;
    font-weight: normal;
    border: none;
    box-shadow: 0 0 0.5em dodgerblue;
}

#app .bold{
    font-weight: 900;
    color: #f64c72;
}

/*Standard für Buttons festlegen */
#app button{
    color: white;
    background-image: url("../images/button_hintergrund.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}

/*Standard für Inputs festlegen */
#app input[type="checkbox"]+label{
    color: #f64c72;
    border: 2px solid #f63c72;
    background: #474eba;
    cursor: pointer;
}

#app input:checked + label{
    color: white;
    border-color: white;
    box-shadow: none;
}

#app input[type="checkbox"]:hover+label:hover{
    box-shadow: 0 0 8px dodgerblue;
}

/*Tablets*/
@media(min-width:700px){
    #app header{
        display: inline;
    }

    #app nav{
        background: none;
        padding-right: 14vw;
    }

    #app button{
        padding-left: 1em;
        padding-right: 1em;
    }
}

/*Laptop*/
@media(min-width:1200px){
}
