/* Standard für alle Seiten */
html, body {
    padding: 0;
    margin: 0;
}

html{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 1vw;
}

main{
    margin: 1vw;
    font-size: 1.1em;
}

/* Kopfzeile (auch für alle Seiten) */
header{
    color: white;
    padding: 0;
    padding-bottom: 0;
    display: inline;
}
   
nav{
    padding-top: 1em;
    padding-bottom: 1vw;
    padding-left: 12em;
    background-color: #007bff;
    font-size: 1.2em;
}

header span{
    padding-top: 0.7em;
    font-size: 1.5em;
    float:left;
    padding-left: 1vw;
}

a:link{
    text-decoration: none;
    color:white;
}   
td a:hover{
    color: black;
}
a:visited{
    color:white;
}
a{
    padding-left: 1em;
    text-decoration: none;
}

.piktogramm{
    height: 0.8em;
}

h1,h2{
    color: black;
}

.tabellen_inhalt { 
    padding: 10px 10px 1px;
    margin: 0px 0px 10px;
}

.show span, .hide span{
    color: black;
    padding-left: 0.5em;
}

/*sichtbar machen*/
.visible{
    visibility: visible;
}

/*unsichtbar machen*/
.hidden{
    display: none;
}