/*section Phasenübersicht*/

/*Aufteilung des Bildschirms*/
#Auflistung{
    width: 48vw;
    left: 10px;
    position: absolute;
    padding: 10px;
    margin-left: 20px;
}

#hinzufügen{
    width: 48vw;
    right: 10px;
    position: absolute;
    padding: 10px;
    margin-right: 20px;
}

/*Checkbox*/
input[type="radio"]{
    display: inline-block;
    vertical-align: middle;
}

.label{
    display: inline-block;
    margin-right: 1vw;
    vertical-align: middle;
}

/*DropDown*/
select{
    border: none;
    width: 5vw;
    height: auto;
    padding: 0;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 5px;
}

/*Formatierung der Auflistung */
li {
    list-style-type: none;
}


/*sichtbar machen*/
.visible{
    visibility: visible;
}

/*unsichtbar machen*/
.hidden{
    display: none;
}

/*Phasentabelle*/
#Phasentabelle th{
    font-weight: normal;
}

.Buttons{
    width: 10vw;
    height: 2em;
    border-radius: 5px;
}

/* Auf- und zuklappen */
#phasen_tabelle:not(:target) .tabellen_inhalt, #phasen_tabelle:not(:target) .hide, #phasen_tabelle:target .show {
    display: none;
}
#phasen_tabelle:target .tabellen_inhalt {
    display: block;
}

#phasen_tabelle1:not(:target) .tabellen_inhalt, #phasen_tabelle1:not(:target) .hide, #phasen_tabelle1:target .show {
    display: none;
}
#phasen_tabelle1:target .tabellen_inhalt {
    display: block;
}