/*Handy*/
/*Linke Tabelle*/
#studenten_tabelle button{
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0.05em;
    border-radius: 0.25em;
}

/*Rechte Seite*/
.container{
	position:relative;
	margin-top: 2vw;
	display:block;
	height: auto;
	background-color: rgb(231, 242, 255);
	border-radius:5px;
	overflow: hidden;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    padding: 2vw;
    margin: 3vw;
    margin-bottom: 0;
}

/*Tabelle für das Profil*/
.studierendenProfil{
	border-collapse: separate;
	border-spacing: 0.5vw;
}

#delete64{
    width: 7vw;
    position: absolute; 
    bottom: 5em;
    right: 2em;
}

#speichern{
    width: 7vw !important;
    position: absolute; 
    bottom: 5em;
    right: 5em;
}

.studierendenProfil td{ 
	position: relative;
	width: 30vw;
	
}

.studierendenProfil td input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
	background: transparent;
}

.studierendenProfil td label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: blue;
    pointer-events: none;
    transition: .5s;
}

.studierendenProfil td input:focus ~ label,
.studierendenProfil td input:valid ~ label{
    top: -18px;
    left: 0;
    color: blue;
    font-size: 12px;
}

/*Tablets*/
@media(min-width:700px){
    .container{
        width: 85vw;
        height:auto;
    }
    
    #delete64{
        width: 4vw;
        right: 2em;
    }
    
    #speichern{
        width: 4vw !important;
        right: 5em;
    }
    
    .studierendenProfil td{ 
        width: 33vw;
    }
}

/*Laptop*/
@media(min-width:1200px){
    .left{
        width: 38vw;
        left: 10px;
        position: absolute;
        padding: 10px;
        margin-left: 20px;
    }

    .right{
        width: 58vw;
        right: 10px;
        position: absolute;
        padding: 10px;
        margin-right: 20px;
    }

    .container{
        width: 50vw;
        height:auto;
    }
    
    #delete64{
        width: 2vw;
        right: 4em;
    }
    
    #speichern{
        width: 2vw !important;
        right: 7em;
    }
    
    .studierendenProfil td{ 
        width: 20vw;
    }
    
}