/*section Studenten*/
/* Linke Seite */
.left{
    width: 48vw;
    left: 10px;
    position: absolute;
    padding: 10px;
    margin-left: 20px;
}

/* Auf- und zuklappen der Tabelle */
#studenten_tabelle:not(:target) .tabellen_inhalt, #studenten_tabelle:not(:target) .hide, #studenten_tabelle:target .show {
    display: none;
}
#studenten_tabelle:target .tabellen_inhalt {
    display: inline;
}

/* Rechte Seite */
.right{
    width: 48vw;
    right: 10px;
    position: absolute;
    padding: 10px;
    margin-right: 20px;
}