/*section Studenten*/
/* Linke Seite */
.left{
    width: 48vw;
    left: 10px;
    position: absolute;
    padding: 10px;
    margin-left: 20px;
}

#studentenliste{
    
}

/* Rechte Seite */
.right{
    width: 48vw;
    right: 10px;
    position: absolute;
    padding: 10px;
    margin-right: 20px;
}