/*Handy*/
.handyUnsichtbar{
    visibility: collapse;
}

/* Filter */
.textfeld_filter{
    width: 15vw;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    margin-right: 10px;
    color: darkblue;
    vertical-align: middle;
}

.textfeld_filter:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 0.5em dodgerblue;
}

.checkbox-group{
    display: inline-block;
    margin-right: 1vw; 
    vertical-align: middle;
}

.checkbox-group input[type="checkbox"]{
    display: none;
}

.checkbox-group label{
    border: 1px solid #333;
    color: white;
    background-color: blue;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
    padding:0.7em;
}

.checkbox-group label:hover{
    border-color: dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
}

.checkbox-group input:checked + label{
    background: white;
    color: darkblue;
    box-shadow: none;
}

button{
    width: 10%;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    transition: .3s;
    background: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

button:hover{
    border-color: dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
}

button:active{
    background-color: darkblue;
}

/* Übersichttabelle */
#tabelleUebersicht thead,
#tabelleUebersicht tbody {
    display:inline-block;
    width: 25vw;
    height: auto;
}

/*Scrollbar*/
#tabelleUebersicht tbody {
    width: 70vw;
    overflow-x: scroll;
}

#tabelleUebersicht{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 1195px;
    border-radius:  5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/*Oberste Zeile der Tabelle*/
.top{
    background-color: blue;
    color: white;
    font-weight: bold;
}

#tabelleUebersicht th,
#tabelleUebersicht td{
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    height: 2em;
    vertical-align: middle;
    width: 5vw;
    table-layout: fixed;
}

#tabelleUebersicht tr{
    border-bottom: 1px solid #dddddd;
}

/*Für die Unterschiedliche Färbung der Zeilen*/
#tabelleUebersicht tbody tr:nth-of-type(even),
#tabelleUebersicht thead tr:nth-of-type(even){
    background-color: #f3f3f3;
}

#tabelleUebersicht tbody tr:nth-of-type(odd),
#tabelleUebersicht thead tr:nth-of-type(odd){
    background-color: lightgray;
}

/*Damit die letzte Zeile einen blauen Strich unten hat*/
#tabelleUebersicht tbody tr:last-of-type,
#tabelleUebersicht thead tr:last-of-type{
    border-bottom: 2px solid blue;
}

/*Tablets*/
@media(min-width:700px){

}

/*Laptop*/
@media(min-width:1200px){
    .handyUnsichtbar{
        visibility: visible;
    }

    
}