/*Handy*/
/*unsichtbar machen bestimmter Teile der Tabelle. Dient dazu, dass die Handy-Version leichter ist*/
.handyUnsichtbar{
    visibility: collapse;
}

/*Textfelder vom Filter zum Durchsuchen der Studenten*/
.textfeld_filter{
    font-size: 3vw;
    width: 20vw;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 1vw;
    box-sizing: border-box;
    transition: .3s;
    margin-right: 10px;
    color: darkblue;
    vertical-align: middle;
    margin-bottom: 2vw;
}
.textfeld_filter:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 0.5em dodgerblue;
}

/*Checkboxen, zum Filtern von DHBW oder THM*/
.checkbox-group{
    display: inline-block;
    margin: 1vw; 
    vertical-align: middle;
}
/*Unsichtbar machen der Checkbox selber, sodass nur das Label zu sehen ist*/
.checkbox-group input[type="checkbox"]{
    display: none;
}
.checkbox-group label{
    padding: 1vw;
}


/*app.css hervorheben beim überfahren vom Button*/
button:hover{
    border-color: dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
}

/*Tabelle, in der alle Studenten stehen*/
#tabelleUebersicht{
    border-collapse: collapse;
    margin: 2vw 0;
    border-radius:  0.3em;
    overflow: hidden;
    text-align: center;
}
#tabelleUebersicht thead, #tabelleUebersicht tbody{
    display:inline-block;
    width: 17vw;
    height: auto;
}
/*Scrollbar, um die Kalenderwochen zu scrollen*/
#tabelleUebersicht tbody {
    width: 75vw;
    overflow-x: scroll;
}
#tabelleUebersicht tr{
    border-bottom: 1px solid #dddddd;
    color: darkblue;
    background-color: rgb(231, 242, 255);
}
/*Oberste Zeile der Tabelle*/
#tabelleUebersicht th{
    /*background-color: #99738E;*/
    /*background-color: rgba(244, 91, 78, 0.97);*/
  background-image: url(../images/button_hintergrund.png);
    color: white;
    font-weight: bold;
}
#tabelleUebersicht th,
#tabelleUebersicht td{
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    height: 2.4em;
    vertical-align: middle;
    width: 5vw;
    table-layout: fixed;
}
/*Links in der Tabelle (Die Namen der Studenten)*/
#tabelleUebersicht a{
    color: darkblue !important;
}
#tabelleUebersicht a:hover{
    color: blue !important;
}
/*Legende unter der Tabelle*/
.theorie{
    /*background-color: #85cdca !important; */
    background-color: rgb(45, 59,162) !important;
    color: white; 
    border: 1px solid white;
    padding: 0.1em;
    margin: 0.1em;
}
.praxis{
    /*background-color: #e8a87c;*/
    background-color: rgb(134, 160, 242); 
    color: white; 
    border: 1px solid white;
    padding: 0.1em;
    margin: 0.1em;
}

.legende {
    display: flex;
}


/*Tablets*/
@media(min-width:700px){
    /*app.css? Für allgemein Textfeld? Textfelder vom Filter zum Durchsuchen der Studenten*/
    .textfeld_filter{
        font-size: 2vw;
        width: 12vw;
        padding: 5px;
        margin-bottom: 0vw;
    }

    .checkbox-group label{
        padding: 5px;
    }

    /*app.css*/
    button{
        width: 10%;
        padding: 5px;
        box-sizing: border-box;
        font-size: 20px;
        float: none;
    }
    
    /*Tabelle, in der alle Studenten stehen*/
    #tabelleUebersicht{
        min-width: 700px;
    }
    #tabelleUebersicht thead{
        width: 11vw;
    }    
    #tabelleUebersicht tbody {
        width: 84vw;
    }

}

/*Laptop*/
@media(min-width:1200px){
    /*Tabellenspalten wieder sichtbar machen*/
    .handyUnsichtbar{
        visibility: visible;
    }

    /*app.css? Für allgemein Textfeld? Textfelder vom Filter zum Durchsuchen der Studenten*/
    .textfeld_filter{
        font-size: 1vw;
        width: 15vw;
        padding: 8px;
    }

    .checkbox-group label{
        padding: 8px;
    }

    button{
        padding: 8px;
    }
    
    /*Tabelle, in der alle Studenten stehen*/
    #tabelleUebersicht{
        min-width: 1195px;
    }
    #tabelleUebersicht thead{
        width: 20vw;
    }
    #tabelleUebersicht tbody {
        width: 76vw;
    }
}