/*Handy*/
.handyUnsichtbar{
    visibility: collapse;
}

/* Filter */
.textfeld_filter{
    font-size: 3vw;
    width: 20vw;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 1vw;
    box-sizing: border-box;
    transition: .3s;
    margin-right: 10px;
    color: darkblue;
    vertical-align: middle;
    margin-bottom: 2vw;
}

.textfeld_filter:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 0.5em dodgerblue;
}

.checkbox-group{
    display: inline-block;
    margin: 1vw; 
    vertical-align: middle;
}

.checkbox-group input[type="checkbox"]{
    display: none;
}

button:hover{
    border-color: dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
}

/* Übersichttabelle */
#tabelleUebersicht thead, #tabelleUebersicht tbody{
    display:inline-block;
    width: 25vw;
    height: auto;
}

/*Scrollbar*/
#tabelleUebersicht tbody {
    width: 70vw;
    overflow-x: scroll;
}

#tabelleUebersicht{
    border-collapse: collapse;
    margin: 2vw 0;
    border-radius:  0.3em;
    overflow: hidden;
    text-align: center;
}

/*Oberste Zeile der Tabelle*/
#tabelleUebersicht th{
    background-color: #99738E;
    color: white;
    font-weight: bold;
}

#tabelleUebersicht th,
#tabelleUebersicht td{
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    height: 2.4em;
    vertical-align: middle;
    width: 5vw;
    table-layout: fixed;
}

#tabelleUebersicht tr{
    border-bottom: 1px solid #dddddd;
    color: white;
}

/*Für die Unterschiedliche Färbung der Zeilen*/
#tabelleUebersicht tbody tr:nth-of-type(even){
    background-color: rgb(255, 255, 255);
}

#tabelleUebersicht tbody tr:nth-of-type(odd){
    background-color: rgba(255, 255, 255, 0.945);
}

#tabelleUebersicht thead td{
    background: #6777da;
}

/*Damit die letzte Zeile einen blauen Strich unten hat*/
#tabelleUebersicht tbody tr:last-of-type,
#tabelleUebersicht thead tr:last-of-type{
    border-bottom: 2px solid blue;
}

/*Tablets*/
@media(min-width:700px){

}

/*Laptop*/
@media(min-width:1200px){
    .handyUnsichtbar{
        visibility: visible;
    }

    .textfeld_filter{
        font-size: 1vw;
        width: 15vw;
        padding: 8px;
        margin-bottom: 0vw;
    }

    .checkbox-group label{
        padding:0.7em;
    }

    button{
        width: 10%;
        padding: 4px;
        box-sizing: border-box;
        font-size: 20px;
        float: none;
    }
    
    #tabelleUebersicht{
        min-width: 1195px;
    }
}